<header class="top-bar">
    <div class="header_left"><a ng-click="showLeft($event)">
            <img src="img/menu-ico.png" width="21" height="21" alt=""></a></div>
    <div class="header_middle">
        <h1> About Us </h1>
    </div>
    <div class="header_right"><a ng-click="back()" class="left-previus-btn"><i class="fa fa-chevron-circle-left"
                aria-hidden="true"></i></a></div>
    </div>


</header>
<menu visible="leftVisible" alignment="left" id="menu-left">
    <nav class="nav-main">
        <menu-item ng-if="session_token != null">
            <section class="figure-container">
                <figure class="profile-pic"><img src="{{profilePic}}" width="58" height="58" alt="">
                </figure>
                <figcaption class="user-detail"> {{name}} <span> {{address}} </span></figcaption>
            </section>
        </menu-item>
        <section class="nav-menu">
            <ul>
                <!-- <li>
                    <menu-item ng-click="home()">
                        <img src="img/home.png" width="14" height="18" alt=""> <span> Home </span>
                    </menu-item>

                </li>
                <li>
                    <menu-item ng-click="signinregister()">
                        <img src="img/account.png" width="17" height="16" alt="">
                        <span> Account </span>
                    </menu-item>
                </li>
                <li>
                    <menu-item ng-click="bookmassage()">
                        <img src="img/booking.png" width="15" height="17" alt=""> <span> Book Massage </span>
                    </menu-item>

                </li>
                <li>
                    <menu-item ng-click="packages()">
                        <img src="img/packages.png" width="17" height="18" alt="">
                        <span> Packages </span>
                    </menu-item>
                </li>
                <li>
                    <menu-item ng-click="membership()">
                        <img src="img/membership.png" width="15" height="14" alt=""> <span> Membership $89 </span>
                    </menu-item>
                </li>
                <li>
                    <menu-item ng-click="chairmassage()">
                        <img src="img/chair-massage.png" width="15" height="18" alt=""> <span> Chair massage </span>
                    </menu-item>
                </li>
                <li>
                    <menu-item ng-click="giftcertificate()">
                        <img src="img/gift-certificate.png" width="15" height="16" alt=""> <span> Gift Certificates </span>
                    </menu-item>
                </li>
                <li>
                    <menu-item ng-click="contactus()">
                        <img src="img/contact.png" width="17" height="17" alt="">
                        <span> Contact Us </span>
                    </menu-item>
                </li>

                <li>
                    <menu-item ng-click="about()">
                        <img src="img/about.png" width="14" height="18" alt=""> <span> About </span>
                    </menu-item>
                </li> -->
                <li ng-repeat="item in home_menues">
                    <menu-item ng-click="clickItem(item)">
                        <img src="img/home.png" width="14" height="18" alt="" ng-if="item.slug === 'home'">

                        <img src="img/account.png" width="17" height="16" alt="" ng-if="item.slug === 'account'">
                        <img src="img/booking.png" width="15" height="17" alt="" ng-if="item.slug === 'book_massage'">

                        <img src="img/packages.png" width="17" height="18" alt="" ng-if="item.slug === 'packages'">
                        <img src="img/membership.png" width="15" height="14" alt=""
                            ng-if="item.slug === 'membership_99'">


                        <img src="img/chair-massage.png" width="15" height="18" alt=""
                            ng-if="item.slug === 'chair_massage'">

                        <img src="img/gift-certificate.png" width="15" height="16" alt=""
                            ng-if="item.slug === 'gift_certificate'">

                        <img src="img/contact.png" width="17" height="17" alt="" ng-if="item.slug === 'conatct_us'">
                        <img src="img/delete.png" width="17" height="17" alt="" ng-if="item.slug === 'delete_account'">
                        <img src="img/about.png" width="14" height="18" alt="" ng-if="item.slug === 'about'">
                        <img src="img/payment.png" width="15" height="15" alt="" ng-if="item.slug === 'payment'">

                        <span>
                            {{item.name}} </span>
                    </menu-item>

                </li>
                <li>
                    <menu-item ng-click="logout()" ng-if="session_token != null">
                        <img src="img/log-out.png" width="16" height="16" alt="">
                        <span> Logout </span>
                    </menu-item>
                </li>
            </ul>
        </section>
    </nav>
</menu>


<section class="form_sec_main about_sec anchor_about">
    <!-- <div [innerHTML]="description"></div> -->

    <div ng-bind-html="description | unsafe"></div>

    <!-- <div class="about_us_social">
        <ul>
            <li><a target="_blank" href="https://www.facebook.com/MassMobileMassageBoston/?fref=nf "><i
                        class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a target="_blank" href="https://www.twitter.com/massmobilemassa"><i class="fa fa-twitter"
                        aria-hidden="true"></i></a></li>
            <li><a target="_blank" href="https://plus.google.com/111395883276928040628/posts "><i
                        class="fa fa-google-plus" aria-hidden="true"></i></a></li>
            <li><a target="_blank" href="http://www.instagram.com/massmobilemassge"><i class="fa fa-instagram"
                        aria-hidden="true"></i></a></li>
        </ul>

    </div> -->

    <!-- <div class="about_us_social">
        <ul>
            <li>
                <span>
                    Locally owned and operated since 2008, we are the premier Boston area mobile massage company for
                    On-Location Table or Chair Massages for hotel, work, spa parties, trade shows and many other
                    events..
                </span>
            </li>

            <li>
                <span>
                    We have carefully vetted and personally trained our team of over 25 licensed and insured massage
                    therapists.(Female and Male)
                </span>
            </li>

            <li>
                <span>

                    Our focus on quality, customer service and education makes us the best in Boston. We will travel
                    within an hour of Boston which may require a small travel fee after 20 miles from Boston Common.
                    Parking may also be an additional charge not included in the price.
                </span>
            </li>

        </ul>

    </div> -->
    <!-- <div class="membership_content">
        <h3>{{title}}</h3>
        <p>{{description}}</p>
        <br>
        <div class="about_us_line h3">
            <h3>History</h3>
            <div class="about_us_social">
                <ul>
                    <li>
                        Owner of Mass Mobile Massage is Houston Andrew Bernard who has been
                        providing medical massage since 2007. He served in the US Army and one of
                        his certifications was Master fitness trainer; also certified by National
                        Academy of Sports Medicine and he has a BA in Communications from Worcester
                        State University. Houston resides in Lexington, Ma.
                    </li>
                    <li>
                        Every therapist on the Mass Mobile team is carefully vetted, screened and
                        continuously trained.
                    </li>
                    <li>
                        Mass Mobile Massage is the exclusive vendor to Lenox Hotel, Hyatt Cambridge
                        and Hyatt Boston. We have worked for years with Adidas and MS Society for
                        the Boston Marathon. Some of our clients also include MS Society, MIT,
                        Harvard University, Revere Hotel, Taj Hotel, Ames Hotel, Boston Ballet,
                        Northeastern, Bentley Univ., Boston College, Boston University, W Hotel,
                        professional athletes and Greater Boston residents. A proud standing member
                        of the Greater Boston Concierge Association and Back Bay Association. We are
                        a local company and support local businesses.
                    </li>
                </ul>

            </div>
        </div>

        <div class="about_us_line h3">
            <h3>Policies</h3>
            <div class="about_History">
                <ul>
                    <li>
                        Cancellation policy – at least 24 hours notice or it will be forfeited
                    </li>
                    <li>
                        Sexual harassment in words or innuendos is not tolerated and will result in
                        the ending of the massage with no reimbursement to the client, and full
                        prosecution under the law
                    </li>
                    <li>
                        Intake forms are required for all massages
                    </li>
                    <li>
                        If you have preferences for gender, modality or vaccination status you must
                        tell us at the time of booking as you will not be refunded or rescheduled
                        without an additional fee with less than a 24 hour notice.
                    </li>
                    <li>
                        Discounted quotes expire after 7 days
                    </li>
                    <li>
                        $20 fee for official itemized receipts for insurance
                    </li>
                    <li>
                        Gratuity is not included, and is appreciated for a job well done (Standard
                        is 20% Off full price before discount)
                    </li>
                    <li>PARKING is not included and may be additional. Our therapists do their best
                        to find parking of course.
                    </li>
                    <li>Travel fee is $10 per 10 miles and per massage, measured by the fastest
                        route on Google maps from Boston Common.
                    </li>
                    <li>
                        We reserve the right to refuse service to anyone.
                    </li>
                    <li>
                        No Refunds and all sales and purchases are final
                    </li>
                    <li>
                        Discount massages are not available for same day booking.
                    </li>
                    <li>
                        Weather Policy – in case of a snow storm or state of emergency we usually
                        cancel 3 hours before the appointment and reschedule based on how safe the
                        massage therapist feels to be on the road.
                    </li>
                    <li>
                        Weather Policy – in case of a snow storm or state of emergency we usually
                        cancel 3 hours before the appointment and reschedule based on how safe the
                        massage therapist feels to be on the road.
                    </li>
                    <li>
                        Sickness – we suggest not getting a massage when you are sick unless you
                        have been antibiotic for a few days already. We still need a 24 hour advance
                        notice for any rescheduling in this case.
                    </li>
                    <li>
                        If you are a wellness member and you cancel your automatic payments through
                        paypal without filling out the official cancellation form you automatically
                        cancel your membership privileges and lose access to all accumulated
                        massages. To gain access you will need to re-sign up for your wellness
                        membership and recurring charges and still owe any months not charged in
                        between that time before gaining access to the accumulated massages. To
                        cancel your membership you must request and fill out the official
                        cancellation form properly. There is a one month cancellation fee for
                        memberships cancelled less than a year. Membership auto-renew after 12
                        months. If you paid in full for the year for the membership with a
                        complimentary bonus massage there is not a cancellation or refund option and
                        all banked massages are no longer available after your ending date, your
                        ending date is the exact date 12 months after the day you sign up.
                    </li>
                    <li>
                        If clients would like to book with a MMM massage therapists they must
                        contact the office and not the massage therapist. Our therapists are under
                        agreement they cannot see any current or ex MMM clients for up to 2 years
                        after they leave MMM officially.
                    </li>
                    <li>
                        We do not discount 2 hour massages, you cannot combine 2x60min massages that
                        are discounted to make one 2 hour massage.
                    </li>
                </ul>
            </div>
        </div>
        <div class="about_us_line h3">
            <h3>Employment</h3>
            <div class="about_us_social">
                <ul>
                    <li>
                        Interested in joining our team? Send us your resume. Click Here
                    </li>
                    <li>
                        Privacy Policy: All information provided my clients stays between Mass
                        Mobile Massage admin staff and massage therapists. We do not share or make
                        any information public. With your consent, we may send you marketing emails
                        and SMS text messages, such as newsletters, offers and promotions. You can
                        opt out of receiving marketing and promotional emails at anytime.
                    </li>

                </ul>

            </div>
        </div>
    </div> -->

</section>