
<section class="preview_screen">


    <table width="100%" cellspacing="0" cellpadding="0" border="0" style="margin:0 auto;padding:0px; max-width:650px; line-height:inherit;"><tbody><tr><!-- Backup background color is #DDDDDD --><td width="100%" valign="top" bgcolor="#a0b1c1" style="background-image:  url('img/email-bg.jpg'); padding:20px;"><!-- [if gte mso 9]><v:rect style="width:600px;height:120px;" strokecolor="none"><v:fill type="tile" color="#DDDDDD" src="img/email-bg.jpg" /></v:fill></v:rect><v:shape id="theText" style="position:absolute;width:100%;"><![endif]-->

        <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#dae4ed" style="padding:5px; background-color:#dae4ed;border-collapse: initial;">
            <tbody>
            <tr>
                <td valign="top" style="border:3px solid #004a9e;position:relative; ">
                    <span class="preview_screen_close" > <i aria-hidden="true" class="fa fa-times-circle" ng-click="backToReceiver()"></i> </span>
                    <table width="100%" cellspacing="0" cellpadding="0" border="0" bgcolor="#dae4ed" style="padding:5px; ">

                        <tbody>

                        <tr>
                            <td valign="top">
                                <img width="300" height="164" border="0" alt="" src="img/top-logo.jpg"> </td>
                        </tr>
                        <td height="5" style="line-height:5px; font-size:5px;">&nbsp;  </td>
                        <tr>
                            <td valign="top" align="center"><img width="250" height="32" border="0" alt="" src="img/gift-certificate.jpg"></td>
                        </tr>
                        <tr>
                            <td height="5" style="line-height:5px; font-size:5px;">&nbsp;  </td>
                        </tr>
                        <tr>
                            <td>
                                <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                    <tbody>
                                    <tr>
                                        <td width="25%" align="right" style="font-size: 18px;letter-spacing: -1.6px;"> For a </td>  <td width="65%" align="center" style="border-bottom:3px solid #000; font-size:16px; color:#2768C2;"> {{money}}  </td>  <td width="15%">&nbsp;  </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" height="10" style="line-height:10px; font-size:10px;">&nbsp;  </td>
                                    </tr>
                                    <tr>
                                        <td width="25%" align="right" style="font-size:16px;"> <i>Presented&nbsp;to </i></td>  <td width="65%" align="center" style="border-bottom:2px solid #000; font-size:16px;color:#2768C2;"> {{name1}}  </td>  <td width="15%">&nbsp;  </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" height="10" style="line-height:10px; font-size:10px;">&nbsp;  </td>
                                    </tr>
                                    <tr>
                                        <td width="25%" align="right" style="font-size:16px;"> <i>From </i> </td>  <td width="65%" align="center" style="border-bottom:2px solid #000; font-size:16px;color:#2768C2;"> {{name2}}  </td>  <td width="15%">&nbsp;  </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" height="20" style="line-height:5px; font-size:5px;">&nbsp;  </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>

                        <tr>
                            <td style="padding-left:5%; font-size:16px; line-height:22px;word-wrap: break-word;">
                                Mass Mobile Massage <br>
                                617-444-9019 <br>
                                www.MassMobileMassage.com
                            </td>
                        </tr>
                        <tr>
                            <td style="font-size: 13px;line-height:18px;padding-left:7%;padding-top: 10px;word-wrap: break-word;">
                                *Gratuity is not included and appreciated for a job well done.<br>
                                *Subject to availability <br>
                                *Must give a 24 hour cancellation notice to keep massage <br>
                                *Intake forms must be filled out or already on file <br>
                                *Not used with any other promotion <br>
                                <sup>*All sales are final</sup> Sorry No Refunds after payment has been made <br>
                                <p style="padding:6px 0; margin:0;"> <strong>Valid for 7 years after purchase    <span style=" float: right;  font-size: 18px;padding-right: 5%;"> #</span>  </strong> </p>
                            </td>
                        </tr>
                        <tr> <td style="font-size:20px; color:#424546"> ..... </td> </tr>

                        </tbody>
                    </table>


                </td>


            </tr>
            </tbody>
        </table>







        <!-- [if gte mso 9]></v:shape><![endif]--></td></tr></tbody></table>
</section>


