
<div class="preview_img_main">
    <aside class="top_pre_img"><img src="img/top_part_img.jpg" alt=""> <span
            class="pre_template_close" ng-click="backToReceiver()"> <i class="fa fa-times-circle"
                                           aria-hidden="true"></i> </span></aside>
    <aside class="middle_pre_cont">
        <p><span>To: {{name1}}</span>
            <span>From: {{name2}}</span>
            <span> For: ${{money}} </span>
        </p>
    </aside>
    <aside class="bottom_pre_img"><img src="img/bottom_part_img.jpg" alt=""></aside>
</div>
