<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width" />
    <title>Mass Mobile Massage</title>
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css"/>
</head>



<header class="top-bar">
    <div class="header_left" > <a ng-click="showLeft($event)">
        <img src="img/menu-ico.png" width="21" height="21" alt=""></a> </div>
    <div class="header_middle"> <h1> Update Profile </h1> </div>
    <div class="header_right"><a ng-click="back()" class="icoan-right">
        <i class="fa fa-chevron-circle-left" aria-hidden="true"></i></a></div></div>
</header>



<section class="form_sec_main">
<form method="" action="" name="">
<ul class="signup_form">
<li> <input type="text" placeholder="First Name" required="required"> </li>
<li> <input type="text" placeholder="Last Name" required="required"> </li>
<li> <input type="text" placeholder="Email ID" required="required"> </li>
<li> <input type="password" placeholder="password" required="required"> </li>
<li> <input type="password" placeholder="Confirm password" required="required"> </li>

</ul>
<aside> <input class="inline-submit" type="submit" value="Update Profile" ng-click = "message()" > </aside>
</form>  
</section>

